.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__link {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header__link--current {
  color: #2196f3;
}
.header__link--current::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}
.header__mail-link, .header__phone-link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
}
.header__mail-link {
  margin-left: 318px;
}
.header__phone-link {
  margin-left: 30px;
}
.header__mail-link:hover, .header__mail-link:focus, .header__phone-link:hover, .header__phone-link:focus {
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  fill: #2196f3;
  color: #2196f3;
}
.header__mail-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__phone-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__mail-icon {
  margin-right: 10px;
}
.header__phone-icon {
  margin-right: 10px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-left: 93px;
}
.header__nav-list li {
  margin-left: 50px;
}
.header__nav-list li:first-child {
  margin-left: 0;
}
.header__nav-list:hover, .header__nav-list:focus {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  color: #2196f3;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), url(../images/img-bgp.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), url(../images/img-bgp.jpg);
  background-color: #757575;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.9;
  background-color: #2196f3;
  border: transparent;
  padding: 10px 32px;
  cursor: pointer;
}

.hero__backdrop {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hero .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.hero__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 0;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.hero__button-close__close-svg {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hero__button-close:hover {
  fill: #2196f3;
}

.hero__modal-text {
  margin-top: 40px;
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.hero__modal-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.hero__modal-input {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero__modal-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}

.hero__input-property {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 15px;
}
.hero__input-property:focus {
  border-color: #2196f3;
  outline: none;
}
.hero__input-property:focus + .hero__input-property__icon-modal {
  fill: #2196f3;
}

.hero__icon-modal {
  position: absolute;
  bottom: 14px;
  left: 15px;
}

.hero__textarea-property {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.hero__textarea-property:focus {
  border-color: #2196f3;
  outline: none;
}

textarea {
  resize: none;
}

.hero__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 448px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.hero__checkbox-holder {
  position: relative;
  width: 16px;
  height: 15px;
}

.hero__checkbox-input {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
}
.hero__checkbox-input:checked {
  opacity: 0;
}

.hero__checkbox-svg {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
}

.hero__checkbox-input:checked + .hero__checkbox-svg {
  opacity: 1;
}

.hero__label-text {
  margin-left: 7px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero__link-color {
  margin-left: 7px;
  color: #2196f3;
  text-decoration: underline;
}

.hero__button-submit {
  font-weight: 700;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  background: #2196f3;
  border-style: none;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits {
  display: none;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
  padding-left: 0;
}
.benefits__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.benefits__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.benefits__text {
  color: #757575;
}

.our-activities {
  padding-bottom: 94px;
}
.our-activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-left: 0;
}
.our-activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.our-activities__div {
  position: relative;
}
.our-activities__thumb {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.4);
}
.our-activities__title-bottom {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 27px;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-left: 0;
  background-color: #f5f4fa;
}

.team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team__list img {
  margin-bottom: 30px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.team__speciality {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.clients__tytle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  fill: #757575;
  padding-left: 0;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}
.client__link:hover, .client__link:focus {
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.works {
  background-color: #ffffff;
}
.works__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  padding-left: 0;
}
.works__title {
  display: none;
}

.works__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #212121;
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
.works__item:hover, .works__item:focus {
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
  transition-timing-function: 0.4, 0, 0.2, 1;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
  transition-timing-function: 0.4, 0, 0.2, 1;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
}
.works__list > li {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  cursor: pointer;
}
.works__list > li:hover {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
  transition-timing-function: 0.4, 0, 0.2, 1;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works__list__list-item {
  position: relative;
  overflow: hidden;
}
.works__list__list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.works__list-overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.works__list-element:hover .works__list-overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

.works__list-thumb {
  padding: 20px 24px;
} /*# sourceMappingURL=main.css.map */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.footer .list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #2f303a;
  padding-left: 0;
}
.footer .list .list li {
  margin-bottom: 9px;
  /* text-decoration: none; */
}
.footer .list .list li:last-child {
  margin-bottom: 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
}

.footer__adress {
  font-style: normal;
  line-height: 1.7;
  color: #ffffff;
}
.footer__adress:hover, .footer__adress:focus {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
  transition-timing-function: 0.4, 0, 0.2, 1;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  color: #2196f3;
}

.footer__mail,
.footer__tel {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail:hover, .footer__mail:focus, .footer__mail:hover, .footer__mail:focus,
.footer__tel:hover,
.footer__tel:focus,
.footer__tel:hover,
.footer__tel:focus {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
  transition-timing-function: 0.4, 0, 0.2, 1;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  color: #2196f3;
}

.contaks {
  margin-right: 70px;
}

.footer__socials-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.footer__social-items {
  margin-right: 10px;
}
.footer__social-items:last-child {
  margin-right: 0;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
}
.socials-link:hover, .socials-link:focus {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
  transition-timing-function: 0.4, 0, 0.2, 1;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  background-color: #2196f3;
  color: #ffffff;
}

.icon-svg {
  fill: currentColor;
}

.icon-svg--white {
  fill: #ffffff;
}

.footer-action {
  margin-left: 93px;
}
.footer-action__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-action-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer-action__input {
  width: 358px;
  height: 50px;
  padding: 15px 295px 15px 16px;
  font-weight: 700;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: transparent;
  outline: none;
}

.footer-button-submit {
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  position: relative;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  margin-left: 12px;
  padding: 10px 62px 10px 28px;
  border-style: none;
}
.footer-button-submit svg {
  position: absolute;
  right: 28px;
  top: 13px;
}

.container .logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo .logo-web {
  color: #2196f3;
  margin-bottom: 25px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

body ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-left: 0;
}/*# sourceMappingURL=main.css.map */