@media screen and (max-width: 767px) {
  .container {
    position: relative;
  }

  .menu-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .header {
    &__nav-list {
      display: none;
    }

    &__contacts {
      display: none;
    }
  }

  .hero {
    max-width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, $img-overlay 50%),
      url(../images/mobile-img/img-hero-bg.jpg);

    &__title {
      width: auto;
      font-size: 26px;
      line-height: 1.6;
    }

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $img-overlay 50%),
        url(../images/mobile-img/hero-bg-mob@2x.jpg);
    }
  }

  .benefits {
    &__svg-antenna {
      width: 65px;
      height: 70px;
    }

    &__svg-clock {
      width: 67px;
      height: 70px;
    }

    &__svg-comp {
      width: 70px;
      height: 53px;
    }

    &__svg-man {
      width: 70px;
      height: 70px;
    }

    &__svg {
      width: 100%;
    }

    &__list {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    &__text {
      text-align: left;
    }
  }

  .our-activities {
    display: none;
  }

  .team__title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .team__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .team__img {
    width: auto;
  }

  .clients__tytle {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .clients__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .client__link {
    margin-right: 0;
    width: 210px;
  }

  .footer__items {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contaks {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .footer__join {
    margin-bottom: 60px;
  }

  .footer-action {
    margin-left: 0;
  }

  .footer-action-div {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .footer-action__input {
    margin-bottom: 20px;
    width: 100%;
  }

  .hero {
    &__modal {
      width: 450px;
    }

    &__modal-form {
      width: auto;
      padding: 0 40px;
    }

    &__modal-text {
      padding: 0 50px;
    }

    &__label-text {
      font-size: 12px;
    }

    &__link-color {
      font-size: 12px;
    }

    &__checkbox {
      width: auto;
      padding: 0 40px;
      justify-content: flex-start;
    }
  }
}
