@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    margin-left: 0;
    margin-right: 0;

    & .logo {
      margin-bottom: 0;
    }
  }

  .header {
    padding-top: 21px;
    padding-bottom: 18px;

    &__nav-list {
      margin-left: 88px;
    }
  }

  .header__contacts {
    flex-direction: column;
    margin-left: 72px;
  }

  .header__mail-link {
    margin-bottom: 10px;
    margin-left: -3px;
  }

  .header__phone-link {
    margin-left: 0;
  }

  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(50%, rgba(47, 48, 58, 0.4)),
        color-stop(50%, rgba(47, 48, 58, 0.4))
      ),
      url(../images/tablet-img/img-hero-bg.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4) 50%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url(../../images/tablet-img/img-hero-bg.jpg);
    width: 768px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet-img/hero-img-bg-tab@2x.jpg);
      background-image: linear-gradient(to right, $img-overlay 50%),
        url(../images/mobile-img/img-hero-bg.jpg);
    }

    &__title {
      font-size: 26px;
      line-height: 1.62;
      width: 360px;
      height: 84px;
    }

    &__button {
      padding: 10px 24px;
    }
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .benefits {
    &__item {
      width: 354px;
    }

    &__svg-antenna,
    &__svg-clock,
    &__svg-comp,
    &__svg-man {
      width: 70px;
      height: 70px;
    }

    &__list {
      flex-wrap: wrap;
    }

    &__svg {
      width: 354px;
      padding: 25px 142px;
    }
  }

  .our-activities {
    display: none;
  }

  .team {
    &__title {
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 30px;
    }

    &__item {
      width: 354px;
    }

    &__list {
      flex-wrap: wrap;
    }

    &__img {
      width: 100%;
    }
  }

  .clients__tytle {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .clients__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .client__link {
    width: 226px;
    color: $color-fill-icon-clients;
    fill: $color-fill-icon-clients;

    & :hover,
    & :focus {
      color: $color-three;
      fill: $color-three;
    }
  }

  .icon-svg-1 {
    width: 44px;
    height: 50px;
  }

  .icon-svg-2 {
    width: 40px;
    height: 52px;
  }

  .icon-svg-3 {
    width: 41px;
    height: 43px;
  }

  .icon-svg-4 {
    width: 80px;
    height: 42px;
  }

  .icon-svg-5 {
    width: 59px;
    height: 47px;
  }

  .icon-svg-6 {
    width: 89px;
    height: 45px;
  }

  .contaks {
    text-align: center;
    margin-right: 165px;
  }

  .logo {
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 28px;
  }

  .footer__join {
    text-align: center;
  }

  .footer__items {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-action-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-button-submit {
    margin-left: 0;
    margin-top: 20px;
  }
}
