.clients__tytle {
  margin-bottom: 50px;
  @include section-header;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  fill: $main-color;
  padding-left: 0;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid $color-fill-icon-clients;
  border-radius: 4px;
  color: $color-fill-icon-clients;

  &:hover,
  &:focus {
    -webkit-transition-property: border, color;
    transition-property: border, color;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    color: $color-three;
    border: 1px solid $color-three;
  }
}
