.team {
  background-color: $color-four;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-left: 0;
  background-color: $color-four;
}

.team__item {
  background-color: $background-main;
  -webkit-box-shadow: 0px 1px 3px $box-shadow-primary, 0px 1px 1px $box-shadow-secondary,
    0px 2px 1px $hero-backdrop-color;
  box-shadow: 0px 1px 3px $box-shadow-primary, 0px 1px 1px $box-shadow-secondary,
    0px 2px 1px $hero-backdrop-color;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team__list img {
  margin-bottom: 30px;
}

.team__title {
  @include section-header;
  margin-bottom: 50px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: $color-two;
  margin-bottom: 10px;
}

.team__speciality {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: $main-color;
  margin-bottom: 16px;
}
