$prime-text: 'Roboto', sans-serif;
$secondary-text: 'Raleway', sans-serif;
$main-color: #757575;
$color-one: rgba(255, 255, 255, 0.6);
$color-two: #212121;
$color-three: #2196f3;
$color-four: #f5f4fa;
$color-fill-social-link: #afb1b8;
$color-footer-soc-bg: rgba(255, 255, 255, 0.1);
$background-main: #ffffff;
$background-black: #2f303a;
$img-overlay: rgba(47, 48, 58, 0.4);
$color-fill-icon-clients: #afb1b8;
$border-color-work-list: #eeeeee;
$overlay-color: rgba(33, 150, 243, 0.9);
$fill-svg-color: #000000;
$forms-border-color: rgba(33, 33, 33, 0.2);
$hero-shadow: rgba(0, 0, 0, 0.15);
$hero-backdrop-color: rgba(0, 0, 0, 0.2);
$box-shadow-primary: rgba(0, 0, 0, 0.12);
$box-shadow-secondary: rgba(0, 0, 0, 0.14);
$border-color-hero-button-close: rgba(0, 0, 0, 0.1);
$hero-textarea-color: rgba(117, 117, 117, 0.5);
$hero-button-submit: rgba(0, 0, 0, 0.15);
$cubic-bezier: (0.4, 0, 0.2, 1);
$box-shadow-color-works: rgba(0, 0, 0, 0.08);
$box-shadow-color-works-two: rgba(0, 0, 0, 0.06);
$box-shadow-color-works-three: rgba(0, 0, 0, 0.16);
